/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Custom CSS */
.slick-prev, .slick-next{ z-index: 9; font-size: 0; position: fixed; left: 0; border-radius: 0 5px 5px 0px; 
    top: 31%;
    width: 45px;
    height: 45px;
    padding: 10px;
    pointer-events: all;
    transform: translateX(0);
    transition: transform 0.4s ease;
    background: rgba(0, 0, 0, 0.4) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALlJREFUSEvNldENwjAMRN9twCawEXSTdgNGKJPAKGxilI9KUVU1Thqj+id/93Ln2BHBpWB9zg0wsyfwlZTOzWp2YGYzcAcmSWNXQCb+kvTY62O1A+/NF2gVIBMfJKWIiuUGtIgnugvQKl4EmNkFeAM3wB1LntuugyM3dzX5H4AU0Qe4hkS02DzixPWKEqgV4ga0QqoAK8goaSqNcjVgBZklDV2X3Ubj+6/rDBL34ZSyd02yVySkB174D67nWhm/LM0kAAAAAElFTkSuQmCC') center center no-repeat; }

.slick-next{ right: 0; left: auto; transform: rotate(180deg); }

.slick-slider{ border-radius: 4px; overflow: hidden; margin: 10px 0; overflow: visible; }

.slick-list{ overflow: visible; }

.slick-slider .img-wrap { margin: 0 5px; }

.slick-slider .slick-active .img-wrap { margin: 0 5px; }

.slick-slider .img-wrap img{ border-radius: 4px; min-height: 320px; }